{% extends "base.html" %}

{% block title %}Enquiry Form{% endblock %}

{% block content %}
  <div class="form-enquiry">
    <div class="form-container">
      <h1>Enquiry Form</h1>
      <form action="{% url 'submit-enquiry' %}" method="post">
        {% csrf_token %}
        
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="message">Your Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button class="submit" type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
