
<footer class="footer"> 
    <div class="footer-container">
        <!-- About Us Section -->
        <div class="footer-section">
            <h3>About Us</h3>
            <p>
                Established in 1996, Car Rental stands as Nepal's best vehicle rental company, offering an unparalleled experience in travel. With a commitment to excellence, we provide car rental in Kathmandu and all over Nepal along with driver hire services marked by professionalism, at the best price.
            </p>
        </div>

        <!-- Contact Info Section -->
        <div class="footer-section">
            <h3>Contact Info</h3>
            <p><i class="fas fa-map-marker-alt"></i> Basundhara Chauki, Tokha </p>
            <p><i class="fas fa-phone"></i> 01-2345678 / 9849951299</p>
            <p><i class="fas fa-envelope"></i> sanjeebsapkota18@gmail.com</p>
            <h4>ISO Certification</h4>
            <div class="certification-icons">
                <img src="{{ MEDIA_URL }}images/iso14001.png" alt="ISO 14001">
                <img src="{{ MEDIA_URL }}images/iso9001.png" alt="ISO 9001">
                <img src="{{ MEDIA_URL }}images/iso4500.png" alt="ISO 45001">
            </div>
        </div>

        <!-- Quick Links Section -->
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <!-- Social Network Section -->
        <div class="footer-section">
            <h3>Social Network</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <h4>Download</h4>
            <div class="app-icons">
                <img src="{{ MEDIA_URL }}images/app-store.png" alt="App Store">
                <img src="{{ MEDIA_URL }}images/game.png" alt="Google Play">
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="footer-bottom">
        <p>&copy; 2024 - <a href="https://www.sanjeebsapkota.com.np" target="_blank" rel="noopener noreferrer">Sanjeeb Sapkota</a></p>
    </div>
</footer>